@media (max-width: 600px) {
  /* CSS rules for small screens */
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 32px;
}

body {
  font-family: 'Courier', monospace;
  cursor: none; /* Hide default cursor */
}

button {
  margin-bottom: 20px;
  padding: 15px 30px;
  font-size: 14px;
  font-family: 'Courier', cursive;
  background-color: blue;
  color: white;
  border: none;
}

button:hover {
  cursor: url('https://hugh-vincent.github.io/img_Cursor.png'), auto; /* Use custom cursor image when hovering over buttons */
}

#poem-container {
  font-size: 18px;
  line-height: 1.5;
  padding: 20px;
}

.custom-cursor {
  cursor: none;
}
